:root {
  --color-purple: #5a005a;
  --color-white: #ebebeb;
  --color-yellow-alpha: rgba(255, 230, 0, 0.158);
  --color-pale: #c0c0c0cb;
  --color-golden: #ffee00d7;
}

html {
  background: url("/Pictures/Noice.jpg") no-repeat center fixed;
  background-size: cover;
}

body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-size: 1.3rem;
  font-weight: 650;
  line-height: 1.3;
  color: var(--color-white);
  margin: 0;
}

form {
  background: var(--color-yellow-alpha);
  padding: 3rem 2rem;
  border-radius: 0.7rem;
  margin: 4rem 2rem;
  border: var(--color-golden);
  border-width: 0.12rem;
  border-style: outset;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: rgb(31, 29, 29);
  text-shadow: 0.1rem 0.1rem var(--color-pale);
}

.description {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.form-group {
  padding: 0.25rem;
  margin: 0.5rem auto 0.5rem auto;
}

.form-control {
  display: block;
  border-radius: 0.3rem;
  width: auto;
  height: 2rem;
  padding: 0.35rem 0.75rem;
}
