:root {
  --color-purple: #5a005a;
  --color-white: #ebebeb;
  --color-yellow-alpha: rgba(255, 230, 0, 0.233);
  --color-pale: #c0c0c0cb;
  --color-golden: #ffee00d7;
  --color-green: rgb(128, 250, 128);
}

html {
  background: url("/assets/images/Noice.jpg") no-repeat center fixed,
    linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192));
  background-size: cover;
}

body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-size: 1.3rem;
  font-weight: 650;
  line-height: 1.3;
  color: var(--color-white);
  margin: 0;
}

form {
  background: var(--color-yellow-alpha);
  padding: 3rem;
  border-radius: 0.7rem;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 45rem;
  width: 80%;
  border: var(--color-golden);
  border-width: 0.12rem;
  border-style: outset;
  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
}

@media (min-width: 480px) {
  form {
    padding: 1.5rem;
  }
}

select,
button,
textarea,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-shadow: 0.1rem 0.1rem var(--color-pale);
}

button[type=submit] {
  background: var(--color-white);
}

button[type=submit]:hover {
 background-color: var(--color-green);
}

.header {
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px;
}

.description {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.form-group {
  padding: 0.25rem;
  margin: 0.5rem auto 0.5rem auto;
}

.form-control {
  display: block;
  border-radius: 0.3rem;
  width: 100%;
  height: 2rem;
  padding: 0.25rem;
  border: var(--color-purple);
  border-width: 0.15rem;
  border-style: outset;
}

.input-checkbox,
.input-radio {
  display: inline-block;
  margin-right: 0.6rem;
}

.input-textarea {
  width: 100%;
  min-height: 6rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.submit-button {
  display: block;
  width: 20%;
  padding: 0.8rem;
  border: 0;
  border-radius: 0.3rem;
}